.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 75vh;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-around;
    margin-bottom: 75px;
}


img {
    width: 250px;
}

.imageContainer {
    background-color: white;
    border-radius: 12px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 45px;
}
