footer {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    display: flex;
    align-items: center;
}

footer img {
    height: 25px;
    width: 25px;
}

footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    gap: 8px;
    margin-left: 5px;
}

footer a:hover{
    scale: 1.03;
    transition: ease-in-out 0.3s;
}